{
  "kernel": {
    "serviceType": "AzureOpenAI",
    "serviceId": "gpt-35-turbo",
    "deploymentOrModelId": "gpt-35-turbo",
    "endpoint": "https:// ... your endpoint ... .openai.azure.com/"
  },
  "aiPlugin": {
    "manifestUrl": "http://localhost:7071/.well-known/ai-plugin.json"
  }
}
